<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Herbabu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font
    ================================================ -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicons/favicon.ico" type="image/x-icon">
    <!-- CSS
    ================================================ -->
    <link rel="stylesheet" href="/static/css/mdb.css">
    <link rel="stylesheet" href="/static/css/hover-effects.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/animate.min.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- jquery -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    
    <!-- Js -->
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/static/js/jquery.nav.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/mdb.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>

{% block header %}{% endblock %}

<!--
Header start
============================== -->
<nav id="navigation navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
    <div class="">
        <div class="row">
            <!--<div class="col-md-12">-->
                <div class="block" id="layout_header">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button id="nav-left" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                    <!-- Meu usuario -->
                                </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-left" >
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/product">Product</a></li>
                                    <li><a href="/">Gallery</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                </ul>
                            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->


                            <!--<div class="" id="bs-example-navbar-collapse-1">-->
                                <ul class="nav navbar-nav navbar-right" >
                                    <li class="" >
                                        <a href="#loginPopup" data-rel="popup">
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </li>




                                    <li class="" >
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div><!-- /.navbar-collapse -->


                        </div><!-- /.container-fluid -->

                        <div data-role="popup" id="loginPopup">
                            <div class="login-wrap">
                                <div class="login-html">
                                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                                    <div class="login-form">
                                        <div class="sign-in-htm">
                                            <div class="group">
                                                <label for="user" class="label">Username</label>
                                                <input id="user" type="text" class="input">
                                            </div>
                                            <div class="group">
                                                <label for="pass" class="label">Password</label>
                                                <input id="pass" type="password" class="input" data-type="password">
                                            </div>
                                            <div class="group">
                                                <input id="check" type="checkbox" class="check" checked>
                                                <label for="check"><span class="icon"></span>  Keep me Signed in</label>
                                            </div>
                                            <div class="group">
                                                <input type="submit" class="button" value="Sign In">
                                            </div>
                                            <div class="hr"></div>
                                            <div class="foot-lnk">
                                                <a href="#forgot">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="sign-up-htm">
                                            <div class="group">
                                                <label for="user" class="label">Username</label>
                                                <input id="user" type="text" class="input">
                                            </div>
                                            <div class="group">
                                                <label for="pass" class="label">Password</label>
                                                <input id="pass" type="password" class="input" data-type="password">
                                            </div>
                                            <div class="group">
                                                <label for="pass" class="label">Repeat Password</label>
                                                <input id="pass" type="password" class="input" data-type="password">
                                            </div>
                                            <div class="group">
                                                <label for="pass" class="label">Email Address</label>
                                                <input id="pass" type="text" class="input">
                                            </div>
                                            <div class="group">
                                                <input type="submit" class="button" value="Sign Up">
                                            </div>
                                            <div class="hr"></div>
                                            <div class="foot-lnk">
                                                <label for="tab-1">Already Member?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </nav>
                </div>
            <!--</div>&lt;!&ndash; .col-md-12 close &ndash;&gt;-->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav><!-- header close -->


<!--
price start - produtos - pedido
============================ -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block main %}{% endblock %}

            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #price close -->


<!--
footer  start
============================= -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block wow fadeInLeft"  data-wow-delay="200ms">
                    <h3>CONTACT <span>INFO</span></h3>
                    <div class="info">
                        <ul>
                            <li>
                                <h4><i class="fa fa-phone"></i>Telephone</h4>
                                <p>(000) 123 456 78 </p>

                            </li>
                            <li>
                                <h4><i class="fa fa-map-marker"></i>Address</h4>
                                <p>Los Angeles, CA</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-envelope"></i>E mail</h4>
                                <p>xxx@gmail.com </p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft"  data-wow-delay="700ms">
                    <h3>LATEST <span>BLOG POSTS</span></h3>
                    <div class="blog">
                        <ul>
                            <li>
                                <h4><i class="fa fa-calendar-o"></i>Nov 9-2014</i></h4>
                                <p>Starting to feel sleepy overnight ?</p>
                            </li>
                            <!--<li>-->
                                <!--<h4><a href="#">Sep 8-2014</a></h4>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien</p>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
                    <div class="gallary">
                        <h3>PHOTO <span>GALLERY</span></h3>
                        <ul>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/static/images/photo/photo-4.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-media-link">
                        <h3>Follow <span>US</span></h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #footer close -->
<!--
footer-bottom  start
============================= -->
{% block navigation %}
{% include "./footer.html" %}
{% endblock %}




</body>
</html>